<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruyuan.eshop.order.mapper.AfterSaleRefundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruyuan.eshop.order.domain.entity.AfterSaleRefundDO">
        <id column="id" property="id"/>
        <result column="after_sale_id" property="afterSaleId"/>
        <result column="order_id" property="orderId"/>
        <result column="after_sale_batch_no" property="afterSaleBatchNo"/>
        <result column="account_type" property="accountType"/>
        <result column="pay_type" property="payType"/>
        <result column="refund_status" property="refundStatus"/>
        <result column="refund_amount" property="refundAmount"/>
        <result column="refund_pay_time" property="refundPayTime"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="remark" property="remark"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , after_sale_id, order_id, after_sale_batch_no, account_type, pay_type, refund_status, refund_amount, refund_pay_time, out_trade_no, remark, gmt_create, gmt_modified
    </sql>

</mapper>
