<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruyuan.eshop.order.mapper.OrderAmountDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruyuan.eshop.order.domain.entity.OrderAmountDetailDO">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="product_type" property="productType"/>
        <result column="order_item_id" property="orderItemId"/>
        <result column="product_id" property="productId"/>
        <result column="sku_code" property="skuCode"/>
        <result column="sale_quantity" property="saleQuantity"/>
        <result column="sale_price" property="salePrice"/>
        <result column="amount_type" property="amountType"/>
        <result column="amount" property="amount"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , order_id, product_type, order_item_id, product_id, sku_code, sale_quantity, sale_price, amount_type, amount, gmt_create, gmt_modified
    </sql>

</mapper>
